<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!bill">My Cart</ion-title>
    <ion-title *ngIf="bill" >Bill</ion-title>
  </ion-navbar>
</ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
      <ion-list *ngFor="let product of productsFromCart">
          <products  [product]= "product" [wishlist]="wishlist" [bill]="bill" (productDeleted)="deleteFromView($event)" (updateTotal)="updateTotal($event)"></products>
      </ion-list>
      </ion-row>
      <ion-row>
        <ion-col col-12 *ngIf="!bill && !total">
          <h2>You haven't added anything yet...</h2>
        </ion-col>
        <ion-col col-12 *ngIf="!bill">
          <ion-item left>
            <p>Total:<strong class="st">${{this.total}}</strong></p>            
          </ion-item>
        </ion-col>
        <ion-col col-12 *ngIf="bill">
          <ion-item left>
            <p>Total:<strong class="st">${{this.total}}</strong></p>            
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <button *ngIf="!bill && total" ion-button edge full (click)="openSelect()">SHOP</button>
        </ion-col>
        <ion-col>
          <ion-select  [(ngModel)]="cart.payment_mode" okText="SHOP" #mySelect (ionChange)="shopProduct()">
            <ion-option>Cash</ion-option>
            <ion-option>Credit Card</ion-option>
            <ion-option>Debit Card</ion-option>
            <ion-option>Agree with the seller</ion-option>
          </ion-select> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  