<ion-header>
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="inputs">
  <div class="div-img" align="center">
    <img class="img-camera" *ngIf="user.photo" src="{{ user.photo }}"> 
    <img *ngIf="!user.photo" class="img-note" src="/assets/imgs/logo.png">
  </div>
  <button ion-button full class="btn-si" (click)="chooseImag()">Add a photo</button>
  <ion-item class="user">
    <ion-label floating>Name</ion-label>
    <ion-input [(ngModel)]="user.name" type="text"></ion-input>
  </ion-item>
  <ion-item class="lastname">
    <ion-label floating>Lastname</ion-label>
    <ion-input [(ngModel)]="user.lastName" type="text"></ion-input>
  </ion-item>
  <ion-item class="user">
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="user.email" type="email"></ion-input>
  </ion-item>
  <ion-item class="user">
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="user.password" type="password"></ion-input>
  </ion-item>
  <ion-item class="user">
    <ion-label floating>Address</ion-label>
    <ion-input [(ngModel)]="user.address" type="text"></ion-input>
  </ion-item>
  <ion-item class="user">
    <ion-label floating>Phone Number</ion-label>
    <ion-input [(ngModel)]="user.phone" type="phone"></ion-input>
  </ion-item>
  <button ion-button full class="btn-si" (click)="signUp()">Sign Up </button>
    <p class="p-si">Have already an account? <a href="" style="color: gray"> Sign in now</a></p>
</div>
</ion-content>
