page-signup {
    .btn-si{
        background-color: black;
        top: 15px;
        position: relative;
        left: -35px;
    }
    .btn-sign{
        background-color: black;
        top: 15px;
    }
    .p-si{
        position: relative;
        top: 20px;
    }
    .div-img{
        display: inline-block;
        border-radius: 50%;
        box-shadow: inset 0 0 10rem transparent, 0 0  4rem transparent;
        position: relative;
        left: 100px;
        img{
            border-radius: 30%;
            width: 140px;
            height: 140px;
        }
    }
    .error-message{
        color:red;
    }
}
