<ion-item-sliding>
  <button ion-item (click)="goToProduct(product)">
    <ion-thumbnail item-start>
      <img class="img-note" *ngIf="product.img_product"  src="{{product.img_product}}">
      <img class="img-note" *ngIf="!product.img_product" src="/assets/imgs/logo.png">
    </ion-thumbnail>
    <h4>{{product.name_product}}</h4>
    <h5>${{product.price_product}}</h5>
  </button>
  <ion-item-options side="right">
    <button ion-button icon-start style="background-color: orange" (click)="deleteProduct()">
        <ion-icon name="trash" ></ion-icon>
         <div>EDIT</div>
    </button>
    <button ion-button icon-start color="danger" (click)="deleteAlert(product)">
        <ion-icon name="trash" ></ion-icon>
        <div>DELETE</div>
    </button>
  </ion-item-options>
</ion-item-sliding>
