page-user-profile {
    .btn-si{
        background-color: black;
        top: -7px;
        position: relative;
        left: 115px;
    }
    .div-img{
        display: inline-block;
        border-radius: 50%;
        box-shadow: inset 0 0 10rem transparent, 0 0  4rem transparent;
        position: relative;
        left: 100px;
        img{
            border-radius: 30%;
            width: 140px;
            height: 140px;
        }
    }
    .error-message{
        color:red;
    }
    .toolbar-background-md {
        border-color: orange;
        background: #f8f8f8;
        background-color: orange;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .btn{
        background-color: black;
    }

}
