<ion-toolbar>
<menu (returnFromComp)="onInput($event)"></menu>
</ion-toolbar> 

<ion-content padding>
  <div class="inputs">
    <div class="div-img" align="center">
      <img class="img-camera" *ngIf="user.photo" src="{{ user.photo }}"> 
      <img *ngIf="!user.photo" class="img-note" src="/assets/imgs/logo.png">
    </div>
    <button ion-button full class="btn-si" (click)="chooseImag()">Add a photo</button>
    <ion-item class="user">
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="user.user_name" type="text"></ion-input>
    </ion-item>
    <ion-item class="lastname">
      <ion-label floating>Lastname</ion-label>
      <ion-input [(ngModel)]="user.user_lastname" type="text"></ion-input>
    </ion-item>
    <ion-item class="user">
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="user.user_email" type="email"></ion-input>
    </ion-item>
    <ion-item class="user">
      <ion-label floating>Address</ion-label>
      <ion-input [(ngModel)]="user.user_address" type="text"></ion-input>
    </ion-item>
    <ion-item class="user">
      <ion-label floating>Phone Number</ion-label>
      <ion-input [(ngModel)]="user.user_phone" type="phone"></ion-input>
    </ion-item>
    <button ion-button full class="btn-si" (click)="updateUser()">Update </button>
    <button ion-button full class="btn-si" (click)="deleteUser()">Delete </button>
    <ion-item class="user">
      <ion-label floating>Old Password</ion-label>
      <ion-input [(ngModel)]="password.old_password" type="password"></ion-input>
    </ion-item>
    <ion-item class="user">
      <ion-label floating>New Password</ion-label>
      <ion-input [(ngModel)]="password.new_password" type="password"></ion-input>
    </ion-item>
    <button ion-button full class="btn-si" (click)="updatePassword()">Update Password</button>
  </div>
  </ion-content>
