wishlist {
    ion-item-sliding {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        left: -24px;
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 160px;
        height: 160px;
    }
}
