<ion-item-sliding>
    <button ion-item (click)="goToProduct()">
      <ion-thumbnail item-start>
        <img class="img-note" src="/assets/imgs/logo.png">
        <!--<img class="img-note" >-->
      </ion-thumbnail>
      <ion-label class="label">
        Product name
        <h5>Product Desciption</h5>
        <h5>Price</h5>
        <h6>
          Created at:
          <ion-datetime displayFormat="YYYY MM DD, HH:mm"></ion-datetime>
          Quantity: 
            <ion-input  type="number" placeholder="1" [readonly]="!readonly"></ion-input>
        </h6>
      </ion-label>
    </button>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="deleteProduct()">
          <ion-icon name="trash" ></ion-icon>
          DELETE
        </button>
    </ion-item-options>
</ion-item-sliding>
  