comments {
    .comment-crud {
        position: relative;
        top: 3px;
        right: 66px;
    }
    ion-fab-list.comment-list.fab-list-active {
        transform: translate(0%, -100%);
    }
    .cancel-btn{
        width: 70px;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #32db64;
        -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
        box-shadow: inset 0 -1px 0 0 orange;
    }

}
