page-user-bills {

    .toolbar-background-md {
        border-color: orange;
        background: #f8f8f8;
        background-color: orange;
    }
    .menu {
        position: relative;
        left: -45px;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .datetime-disabled, .item-datetime-disabled ion-label {
        opacity: 1; 
        pointer-events: none;
        position: relative;
        top: -11px;
    }
    .datetime-disabled, .item-datetime-disabled ion-label {
        opacity: 1; 
        pointer-events: none;
    }

}
