
<ion-header>

  <ion-navbar>
    <ion-title>User Product</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>  
  <div>
      <ion-card>
        <img class="img-camera" *ngIf="product.img_product"  src="{{product.img_product}}"> 
        <img class="img-camera" *ngIf="!product.img_product" src="/assets/imgs/logoess.png"> 
          <ion-card-content>
            <ion-card-title>
              {{this.product.name_product}}
              </ion-card-title>
            <p>
            <strong>Description:</strong>
              {{this.product.des_product}}
            </p>
            <p>
              <strong>Category: </strong> {{this.product.des_category}}
            </p>
            <p>
              <strong>Quantity: </strong>{{this.product.quantity}}
            </p>
            <p>
              <strong>Published by: </strong>{{this.product.username}}
            </p>
          </ion-card-content>
          <ion-row>
              <ion-col col-6 *ngIf="owner" >
                  <button ion-button icon-start small clear (click)="showComments()">
                    <ion-icon name="text"></ion-icon>
                    <div>See Comments</div>
                  </button>
                </ion-col>
                <ion-col col-5 *ngIf="!owner">
                  <button ion-button icon-start small clear (click)="showComments()">
                    <ion-icon name="text"></ion-icon>
                    <div>See Comments</div>
                  </button>
                </ion-col>
                <ion-col *ngIf="owner">
                  <ion-note>
                    ${{this.product.price_product}}
                  </ion-note>
                </ion-col>
                <ion-col *ngIf="!owner" style="position: relative; left: 10px;">
                  <ion-note>
                    ${{this.product.price_product}}
                  </ion-note>
                </ion-col>
                <ion-col col-3 *ngIf="!owner">
                  <button ion-button icon-start clear small (click)="addAlert()">
                    <ion-icon name="cash"></ion-icon>
                    <div>ADD TO CART</div>
                  </button>
                </ion-col>
                <ion-col col-13 *ngIf="owner">
                    <ion-fab bottom right edge>
                        <button ion-fab mini><ion-icon name="md-more"></ion-icon></button>
                        <ion-fab-list side="top">
                          <button ion-fab (click)="deleteAlert()"><ion-icon name="trash"></ion-icon></button>
                          <button ion-fab (click)="goToEditProduct()"><ion-icon name="create"></ion-icon></button>
                        </ion-fab-list>
                      </ion-fab>
                </ion-col>
            </ion-row>   
        </ion-card>
        <ion-card *ngIf="show">
            <ion-card-header>
              Comments
            </ion-card-header>
            <ion-item>
                <ion-input type="text" placeholder="Comment" [(ngModel)]="comment.comment_text"></ion-input>
            </ion-item>
              <ion-item>
                <button ion-button icon-start small clear (click)="createComment()">
                  <ion-icon name="ios-text-outline"></ion-icon>
                  <div>Comment</div>
                </button>
              </ion-item>
            <ion-card-content *ngFor="let comment of productComments"> 
              <comments [comment]="comment" [owner]="owner"></comments>
            </ion-card-content>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll>
          </ion-card>
  </div>
</ion-content>
