
<ion-header>

  <ion-navbar>
    <ion-title>User Product</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div>
      <ion-card>
        <img class="img-camera" *ngIf="product.img_product"  src="{{product.img_product}}"> 
        <img class="img-camera" *ngIf="!product.img_product" src="/assets/imgs/logo.png"> 
          <ion-card-content>
            <ion-card-title>
              {{this.product.name_product}}
              </ion-card-title>
            <p>
              Descrption:
              {{this.product.des_product}}
            </p>
          </ion-card-content>
          <ion-row>
              <ion-col>
                <ion-note ion-button icon-start clear small (click)="addAlert()">
                  <ion-icon name="cart"></ion-icon>
                  <div>{{this.product.price_product}}</div>
                </ion-note>
              </ion-col>
              <ion-col>
                <ion-note ion-button icon-start clear small>
                  <ion-icon name="cash"></ion-icon>
                  <div>{{this.product.quantity}}</div>
                </ion-note>
              </ion-col>
              <ion-col>
                <ion-note ion-button icon-start clear small>
                  <ion-icon name="cash"></ion-icon>
                  <div>{{this.product.des_category}}</div>
                </ion-note>
              </ion-col>
              <ion-col>
                <ion-note ion-button icon-start clear small>
                  <ion-icon name="cash"></ion-icon>
                  <div>{{this.product.username}}</div>
                </ion-note>
              </ion-col>
              <ion-col *ngIf="!owner">
                  <button ion-button icon-start clear small>
                    <ion-icon name="shop"></ion-icon>
                    <div>Shop</div>
                  </button>
              </ion-col>
            </ion-row>
        </ion-card>
        <button *ngIf="owner" ion-button full (click)="goToEditProduct()">EDIT PRODUCT</button>
        <button *ngIf="owner" ion-button full (click)="deleteAlert()" color="danger">DELETE PRODUCT</button>
  </div>

</ion-content>
