page-user-product {
    .note-md {
        color: black;
        position: relative;
        top: 3px;
       /* left: 50px;
        font-size: 2px; */
    }
    .card .note-md {
        font-size: 2.3rem;
    }
    button.fab.fab-md {
        background-color: transparent;
        color: black;
        box-shadow: none;
    } 
    .fab[mini] {
        margin: 8px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        top: -5px;
        left: 10px;
    }
   /* ion-fab.fab {
        left: 34px;
    } */
    .user-op {
        transform: translate(18%,10%);
    }
    button.disable-hover.button.button-md.button-clear.button-clear-md.button-small.button-small-md {
        position: relative;
        color: black;
        left: -5px;
        /* font-size: 15px; */
    }
    /*button.disable-hover.button.button-md.button-default.button-default-md.button-small.button-small-md {
        position: relative;
        left: 150px;
    } */
    button.fab.fab-md.fab-in-list.fab-md-in-list.show {
        height: 25px;
        /* width: 38px; */
    }
    .toolbar-background-md {
        border-color: orange;
        background: #f8f8f8;
        background-color: orange;
    } 
    .button-clear-md {
        border-color: transparent;
        color: black;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
    }   
    button.button.button-md.button-default.button-default-md.button-small.button-small-md {
       /* left: 150px;
        position: relative; */
        background-color: black;
    } 
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    ion-fab[bottom][edge] {
        bottom: -5px;
    }
    .img-camera{
        width:380px;
        height:280px;
    }
    ion-infinite-scroll {
        display: block;
        width: 100%;
        height: 20px;
        position: relative;
        top: -20px;
    }
    button.comment.disable-hover.button.button-md.button-clear.button-clear-md.button-small.button-small-md {
        position: relative;
        top: -11px;
        /* width: 50px; */
    }
    ion-icon.icon-comment.icon.icon-md.ion-ios-text-outline {
        font-size: 2.4rem;
    }
    ion-item.user.item.item-block.item-md.item-input.item-textarea.ng-untouched.ng-pristine.ng-valid.input-has-value.item-input-has-value {
        position: relative;
        left: -20px;
    }
}
