page-changepass {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .toolbar-background-md {
        border-color: orange;
        background: #f8f8f8;
        background-color: orange;
    }
    .menu {
        position: relative;
        left: -45px;
    }
    ion-card.card.card-md {
        position: relative;
        top: 55px;
    }
    .card-header-md {
        font-size: 2.3rem;
        text-align: center;
        color: #222;
        padding: 16px;
    }
    button.disable-hover.button.button-md.button-default.button-default-md.button-full.button-full-md {
        background-color: black;
    }
    .error-message{
        color:red;
        text-align: center;
    }
}
