<ion-item-sliding>
  <ion-item >
  <button ion-item (click)="goToProduct(product)">
    <ion-thumbnail item-start>
      <img class="img-note" *ngIf="product.img_product"  src="{{product.img_product}}">
      <img class="img-note" *ngIf="!product.img_product" src="/assets/imgs/logoess.png">
    </ion-thumbnail>
    <h4>{{product.name_product}}</h4>
    <h5>${{product.price_product}}</h5>
  </button>
    <button *ngIf="wishlist && !bill" ion-button style="background-color: orange" (click)="editAlert(product)">
      <ion-icon name="trash" ></ion-icon>
       EDIT
    </button>
    <button *ngIf="wishlist && !bill" ion-button color="danger" (click)="deleteAlertWishList(product)">
        <ion-icon name="trash" ></ion-icon>
        DELETE
    </button>
  </ion-item>
  
  <ion-item-options side="right" *ngIf="!user && !wishlist" >
    <button ion-button color="primary" (click)="addAlert()">
      <ion-icon name="cart" ></ion-icon>
      ADD TO MY CART
    </button>
  </ion-item-options>
  <ion-item-options side="right" *ngIf="user && !wishlist">
    <button ion-button style="background-color: orange" (click)="goToEditProduct(product)">
        <ion-icon name="trash" ></ion-icon>
         EDIT
    </button>
    <button ion-button color="danger" (click)="deleteAlert(product)">
        <ion-icon name="trash" ></ion-icon>
        DELETE
    </button>
  </ion-item-options>
</ion-item-sliding>
