<ion-item-sliding *ngIf="wishlist">
  <ion-item>
  <button ion-item (click)="goToProduct(product)" id="btn-cart">
    <ion-thumbnail item-start>
      <img class="img-note" *ngIf="product.img_product"  src="{{product.img_product}}">
      <img class="img-note" *ngIf="!product.img_product" src="/assets/imgs/logoess.png">
    </ion-thumbnail>
    <ion-row>
      <ion-col col-12>
        <h2 style="color: orange"><strong>{{product.name_product}}</strong></h2>
      </ion-col>
      <ion-col>
        <h2> By @{{product.username}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4><strong>Quantity</strong></h4>
      </ion-col>
      <ion-col>
        <h4><strong>Price</strong></h4>
      </ion-col>
      <ion-col>
        <h4><strong>Total</strong></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 align="center">{{product.product_quantity}}</h5>
      </ion-col>
      <ion-col>
        <h5>${{product.price_product}}</h5>
      </ion-col>
      <ion-col>
        <h5>${{getTotal(product)}}</h5>
      </ion-col>
    </ion-row>  
  </button>
  <ion-buttons>
    <button icon-start ion-button style="background-color: orange" (click)="editAlert(product)">
      <ion-icon name="trash" ></ion-icon>
       EDIT
    </button>
    <button *ngIf="wishlist"  icon-start ion-button color="danger" (click)="deleteAlertWishList(product)">
        <ion-icon name="trash" ></ion-icon>
        DELETE
    </button>
  </ion-buttons>
  </ion-item>
</ion-item-sliding>
  
<ion-item-sliding *ngIf="!user && !wishlist">
    <ion-item>
        <button ion-item (click)="goToProduct(product)">
          <ion-thumbnail item-start>
            <img class="img-note" *ngIf="product.img_product"  src="{{product.img_product}}">
            <img class="img-note" *ngIf="!product.img_product" src="/assets/imgs/logoess.png">
          </ion-thumbnail>
          <h4>{{product.name_product}}</h4>
          <h5>${{product.price_product}}</h5>
        </button>
  <ion-item-options side="right"  >
    <button ion-button color="primary" (click)="addAlert()">
      <ion-icon name="cart" ></ion-icon>
      ADD TO MY CART
    </button>
  </ion-item-options>
  <ion-item-options side="right" *ngIf="user && !wishlist">
    <button ion-button style="background-color: orange" (click)="goToEditProduct(product)">
        <ion-icon name="trash" ></ion-icon>
         EDIT
    </button>
    <button ion-button color="danger" (click)="deleteAlert(product)">
        <ion-icon name="trash" ></ion-icon>
        DELETE
    </button>
  </ion-item-options>
</ion-item>
</ion-item-sliding>
